[global]
    allow insecure wide links = yes
    nt acl support = no
    map archive = no
    browsable = yes
    read only = no
    create mask = 0664
    directory mask = 0775
    follow symlinks = yes
    wide links = yes
    hide dot files = no

[Share]
    path = {{ samba.share_dir }}
    guest ok = yes
    force user = {{ samba.user }}
    force group = {{ samba.group }}
