[global]
    allow insecure wide links = yes
    nt acl support = no
    map archive = no
    browsable = yes
    read only = no
    create mask = 0664
    directory mask = 0775
    follow symlinks = yes
    wide links = yes
    hide dot files = no
